body {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 470px;
}
#logo {
    position: absolute;
    width: 200px;
    left: 20px;
    top: 20px;
}

main {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    div {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            font-family: $font;
            font-size: 144px;
            letter-spacing: 5px;
            cursor: pointer;
            color: #000;
        }
        &#away {
            background-color: $away-color;
            h2 {
                color: $away-text;
            }
        }
        &#home {
            background-color: $home-color;
            h2 {
                color: $home-text;
            }
        }
    }
}

#modal {
    display: block;
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    background-color: #FFFFFF;
    z-index: 5;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &.hidden {
        display: none;
    }
    #trip {
        h4 {
            font-size: 10px;
        }
        .trip-example {
            display: flex;
            flex-direction: row;
            .trip {
                overflow: hidden;
            }
        }
    }
}
